@font-face {
  font-family: Playlist-Caps;
  src: url(../fonts/Playlist\ Caps.otf);
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../img/fon3.png);
  background-size: 500px;
  min-width: 735px;
  min-height: 800px;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "header header"
  "nav main"
  "footer footer";
}
header {
  grid-area: header;
  background: linear-gradient(to bottom, rgb(253, 230, 201), rgb(244, 220, 187));
  display: flex;
  align-items: end;
  margin: 0;
  padding: 0;
  height: 120px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(165, 133, 96);
}
header>div {
  display: flex;
  align-items: end;
}

nav {
  grid-area: nav;
  display: flex;
  width: 250px;
  flex-direction: column;
  justify-content: space-between;
  background: #EBC9A6;
  background-image: url(../img/img-nav-up.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-right: 1px solid rgb(165, 133, 96);
}
nav>div {
display: flex;
flex-direction: column;
}
nav a {
  place-content: center;
  font-size: 40px;
  color: rgb(72, 61, 48);
  font-weight: bolder;
  text-decoration: none;
  line-height: 0.5;
}
nav ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 200px ;
}
nav li {
  margin: 20px 0 0 0;
  font-variant-caps: all-petite-caps;
  text-align: center;
}

main {
  grid-area: main;
  min-width: 300px;
  margin: 50px;
  /* display: flex; */
  /* flex-direction: column; */
  /* row-gap: 30px; */
}

footer {
  grid-area: footer;
  background-color: black;
  padding: 1em;
  display: flex;
  column-gap: 30px;
}
footer a {
  color: gainsboro;
}

.site-name {
  font-family: 'Playlist-Caps';
  font-size: 50px;
  margin: 10px;
  color: rgb(52, 34, 34);
}
.logo {
  margin-left: 10px;
  margin-bottom: 10px;
}
.img-header {
  height: 120px;
}

.box {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.6);
}
.box h2 {
  margin: 0 20px;
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: start;
  align-content: stretch;
  margin: 20px 0;
  column-gap: 50px;
  row-gap: 30px;
  text-align: justify;
}
.content a {
  text-decoration: none;
  color: black;
}
.photo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 1px solid black;
}
#photo {
  height: 300px;
  width: auto;
}
.box-ingredients ol {
  padding-left: 20px;
}
.dish {
  background: rgba(255, 255, 255, 0.6);
}
.dish>img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 1px solid black;
}
h3, h4 {
  margin: 0;
}
h2 {
  font-size: 36px;
}